<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GERADO</title>
        <link rel="stylesheet" href="../public/styles/gerado.css">
    </head>

    <body>
        <div class="main-page">
            <div class="page">
                <h1>SUCESSO!</h1>
            </div>

            <div class="card-number">
                <span></span>
            </div>

            <div class="btns-page">
                <div class="btns">
                    <a href="./gerar.html">Cancelar</a>
                    <a href="./recarga">Recarregar</a>
                    <a href="./historico">Historico</a>
                    <a href="../index.html">Tela Inicial</button>
                </a>
            </div>
        </div>
    </body>
    
  <script src="/scripts/scriptExibeBilhete.js"></script>
</html>