<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECARGA</title>
    <link rel="stylesheet" href="/styles/recargarealizada.css">
</head>
<body>
    <div class="main-page">
        <div class="title-page">
            <h1>RECARGA REALIZADA!</h1>
            <body>
            <img src="../public/assets/ok-bro.svg" class="image" />
            </body>
        </div>
        
        <a href="./consultar.html"><button class="btn-b">HISTORICO</button></a>
        <a href="./recarga.html"><button class="btn-b">RECARGA</button></a>
        <a href="../index.html"><button class="btn-b">TELA INICIAL</button></a> 
        </div>        
</body>
</html>