@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-page{
    width: 100vw; /*view port, usando vw para adaptar ao tamanho do monitor*/
    height: 100vh; 
    background: #201b2c;
    display: flex; /*para as divs ficarem uma do lado da outra*/
    justify-content: center; /*eixo x centralizado*/
    align-items: center;/*eixo y centralizado*/
}

.left-page{
    width: 50vw; /*ocupa só metade da tela*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-page > h1{
    font-size: 3vw;
    color: #00ff88;
}

.image{
    width: 30vw;
}

.right-page{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-btns{
    width: 45%; /*usando % e não vw pois o vw se adapta ao tamanho da tela total, a porcentagem vai se adaptar ao tamanho da div*/
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 30px 35px; /*margem eixo x e eixo y*/
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056; /*primeiro é eixo x (direita ou esqueda), segundo é eixo y(pra cima ou pra baixo), terceiro é o blur e o quarto é a cor*/
}

.card-btns > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.card-btns a{
    width: 100%;
    margin: 25px;
}
.btn-direc{
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}



/*as media query abaixo são para o sistema ficar responsivo, ou seja, adaptando ao tamanho da tela*/
@media only screen and (max-width: 950px) {
    .card-btns{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-page{
        flex-direction: column;
    }
    .left-page > h1{
        display: none;
    }
    .left-page{
        width: 100%;
        height: auto;
    }
    .right-page{
        width: 100%;
        height: auto;
    }
    .image{
        width: 60%;
        height: auto;
    }
}